<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HTML5</title>
</head>
<body>
{{#each users}}
    <h3>{{this.name}}</h3>
    <h3>{{this.age}}</h3>
    <h3>{{this.password}}</h3>
    <hr>
{{/each}}

</body>
</html>